/* Base Styles & Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}
body {
    font-family: var(--font-body);
    background-color: #000000; /* Keep body background as pure black for contrast with viewport */
    color: var(--color-text-base); /* Use the new base text color */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
